.container-artists {
  width: 100%;
  max-width: 1280px;
  padding: 0px 24px 24px 24px;
  margin: 0 auto;
}

/* Banner do Artista */
.artist-banner {
  width: 100%;
  height: 380px;
  margin: 0px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.artist-info {
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto;
  padding-left: 16px;
  padding-bottom: 16px;
}

.verified-artist {
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  z-index: 10;
  position: relative;
}

.verified-icon {
  width: 20px;
  height: 20px;
}

.verified-artist p {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

.artist-name {
  color: #fff;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: -0.7px;
  margin: 0;
}

.artist-listeners {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.artist-body {
    background: linear-gradient(to bottom,  #142640, #121212);
    width: 100%;
}

.play-button {
    background-color: #1ed760;
    color: #000;
    width: 56px;
    height: 56px;
    border-radius: 500px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.play-button:hover {
    background-color: #4dd07b;
}

.play-button:hover,
.following-button:hover,
.dots-button:hover {
    transition: 200ms;
    scale: 1.1;
}

.following-button {
    background-color: transparent;
    border: 1px solid #818181;
    border-radius: 25px;
    padding: 8px 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
/* Container do actions buttons*/
.actions {
    padding: 24px;
    gap: 24px;
    display: flex;
    align-items: center;
}

.dots-button {
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 8px 16px;
    color: #d9d9d9;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.dots-button:hover {
    color: #fff;
}

.following-button:hover {
    border: 1px solid #fff;
}

/* Songs Container */
.songs-container {
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
}

.songs-container h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 16px;
}